# =============================
# Configurações do MySQL (banco da aplicação)
# =============================
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=

# =============================
# Configurações do banco do Keycloak
# =============================
KEYCLOAK_DB_DATABASE=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=

# =============================
# Configurações do Keycloak
# =============================
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_PORT=

# =============================
# Configurações do PHP (Apache)
# =============================
APACHE_PORT=

# =============================
# Credenciais do servidor de e-mail
# =============================
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=   
EMAIL_EMPRESA=
EMAIL_SMTP_SECURE=
EMAIL_SMTP_AUTH=